

<html>
<head>
	<title>Login Page</title>
</head>
<body>
    <form method="post" action="../controller/loginCheck.php">
        <table border="1" width="80%" align="center">
        <tr height="150px">
            <th colspan="3" align="right">
                <img src="../assets/bank_x.png" width="420px" height="150px" style="float: left" /><br>
                <br><br><br><br>
                <a href="mainhome.php">Home | </a>
                <a href="bankemp.php">Employee Home | </a>
                <a href="login.html">Login | </a>
                <a href="contact.php">Contact</a>
            </th>
            <!DOCTYPE html>
            <html>
            <head>
                <meta charset="utf-8">
                <title></title>
            </head>
            <body>
            
            </body>
            </html>
        </tr>

        <tr height="350px">
            <td colspan="3" width="300px" align="center">
                <fieldset>
                    <legend>Login</legend>
                    <table width="50%" align="center">
                      <tr>
                        <td>User Name:</td>
                        <td><input type="text" name="username" value=""></td>
                      </tr>
                      <tr>
                        <td>Password:</td>
                        <td><input type="password" name="password" value=""></td>
                     </tr>
                     <tr>

                        <td align="center"> 
                            <br><br>
                            
                        </td>
                        <td align="left"> 
                            _____________________<br><br>
                            <input type="submit" name="submit" value="Submit">
                            <a href="forgotpass.php">Forgot Password?</a>
                        </td>
                     </tr>
                   </table>
                </fieldset>

            <br><br><img src="../assets/foremp.png" width="200px" height="100px" style="float: left;" />
            <a href="signup.php" align="right">Signup</a>
            </td>

            
        </tr>

        <tr height="50px">
            <td colspan="3" align="center">copyright © 2021</td>
            
        </tr>
    </table>
    	<!--  -->
    </form>
</body>
</html>